body {
  width: 100%;
  margin: 0;
}

#navbarSupportedContent li a:hover {
  color: #ccc;
  text-decoration: overline;
}

.navcontainer {
  padding: 10px 20px;
}

.title img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  width: 300px;
  height: 120px;
}

body {
  background-image: url(../public/IMG_5289.JPEG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
