body {
  width: 100%;
  margin: 0;
}

#navbarSupportedContent li a:hover {
  color: #ccc;
  text-decoration: overline;
}

.navcontainer {
  background-image: url(../public/IMG_5289.JPEG);
  background-size: cover;
  background-position: center;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 800px;
}

.title img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  width: 300px;
  height: 120px;
}
