body {
  width: 100%;
  margin: 0;
}

#navbarSupportedContent li a:hover {
  color: #ccc;
  text-decoration: overline;
}

.navcontainer {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
}

.title img {
  object-fit: cover;
  margin: 0 auto;
  height: 100px;
  width: 250px;
}

.hero-section {
  background-image: url(../public/IMG_5289.JPEG);
  background-size: cover;
  background-position: center;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  backdrop-filter: blur(5px);
  border-radius: 20px;
}
